@{
    Layout = "~/Areas/Clients/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Giới thiệu";
}
@using CMS_Shared;
<style>
    .contentabct {
        min-height: 300px;
        padding-top: 30px;
    }
</style>

<!DOCTYPE html>
<html>
<body>
    
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        
    })
</script>
