@using CMS_Shared;

<div class="">
    <div class="footer-widget-area bg-3 overlay-2 pt-100 pb-85 fix">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="single-footer-widget">
                        <h3>giới thiệu về chúng tôi</h3>
                        <p class="margin">Hài hòa lợi ích doanh nghiệp với lợi ích xã hội, đóng góp tích cực vào các hoạt động hướng về cộng đồng, thể hiện tinh thần trách nhiệm công dân và niềm tự hào dân tộc.</p>
                        <p>Và luôn phấn đấu xây dựng một hình ảnh sáng tạo trong mắt người tiêu dùng.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 hidden-sm col-xs-12">
                    <div class="single-footer-widget">
                        <h3>Liên Hệ</h3>
                        <span class="c-info"><i class="zmdi zmdi-email"></i>cafehoxuanson@gmail.com</span>
                        <span class="c-info"><i class="zmdi zmdi-phone"></i>Mr Vũ Ngọc Dũng : 09039845557 –  (0263) 382 1938</span>
                        <span class="c-info"><i class="zmdi zmdi-phone"></i>Mr Vũ Ngọc Thành : 0933300602</span>
                        <span class="c-info"><i class="zmdi zmdi-home"></i>thôn Xuân Sơn, xã Xuân Trường, TP Đà Lạt, tỉnh Lâm Đồng</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="single-footer-widget">
                        <h3>giờ mở cửa</h3>
                        <p>
                            @*Lorem ipsum dolor sit amet,  tore latthi dimu consectetueiusmodm dost*@
                        </p>
                        <span class="open-time">Thứ 2- Thứ 6 . . . . . . . . . . .8:00 - 17:00</span>
                        <span class="open-time">Chủ Nhật. . . . . . . . . . . . . . . . . 6:00 - 22:00</span>
                        <span class="open-time">Thứ 7 . . . . . . . . . . . . . . . . . . . . . .nghỉ</span>
                    </div>
                </div>
                <div class="col-lg-3 hidden-md hidden-sm col-xs-12">
                    <div class="single-footer-widget">
                        <h3>Nhận bản tin</h3>
                        <div class="newsletter-form">
                            <form action="#" id="mc-form" class="mc-form fix">
                                <input id="mc-email" type="email" name="email" placeholder="Nhập địa chỉ mail của bạn.">
                                <button id="mc-submit" type="submit" class="default-btn"><span>gửi</span></button>
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div>
                            <!-- mailchimp-alerts end -->
                        </div>
                        <div class="footer-links">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-rss"></i></a>
                            <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                            <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-text-area fix bg-koffee ptb-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-text text-center">
                        <span>&copy; <a href="#">Xuanson lake coffee ,.LTD</a> 2017. All Rights Reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
