@{
    Layout = "~/Areas/Clients/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Chính sách";
}
@model CMS_DTO.CMSPolicy.CMS_PolicyModels

<!-- Breadcrumb Area Start-->
@Html.Partial("_breadcrumb", new Dictionary<string, string> { { "A", "Trang chủ" }, { "B", "Tiến trình" } })
<!-- Breadcrumb Area End -->

<!-- Breadcrumb Area End -->
<section class="blog-details-area ptb-100 blog-section" style="margin:auto; width: 90%;">
    @Html.Raw(Model.Description)
</section>

<script type="text/javascript">
    $(document).ready(function () {

    })
</script>
